<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Tenants/site1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/price-range.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/animate.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/main.css" rel="stylesheet">
    <link href="~/Content/Tenants/site1/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Content/Tenants/site1/js/html5shiv.js"></script>
    <script src="~/Content/Tenants/site1/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Tenants/site1/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Tenants/site1/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Tenants/site1/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Tenants/site1/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<!-- Header & Navigation -->
@Html.Partial("_Header")
<!-- Main Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
              @*@Html.Action("Sidebars")*@
              @Html.Partial("_Sidebars")
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
    </div>
</section>
@*    <div id="site_content">

      <div class="feeddiv">
        <a href="@feedBurnerUrl" title="Subscribe to my blog">Subscribe to my blog</a>
      </div>

      @Html.Partial("_Search")
      @RenderBody()
      @Html.Action("Sidebars")
    </div>*@
<!-- Footer -->
@Html.Partial("_Footer")
<script src="~/Content/Tenants/site1/js/jquery.js"></script>
<script src="~/Content/Tenants/site1/js/price-range.js"></script>
<script src="~/Content/Tenants/site1/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/Tenants/site1/js/bootstrap.min.js"></script>
<script src="~/Content/Tenants/site1/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/Tenants/site1/js/main.js"></script>
</body>
</html>
